.row{
    margin: 5px !important;
    /* text-align: center !important; */
    display: flex !important;
  }

  .column{
    margin: 10px !important;
    padding: 5px !important;
    width: auto !important;
    border: none !important;
    text-align: center !important;
  }

  .dashboard{
    margin-top: 10px !important;
    /* background-color: red; */
  }

  .dashboard1{
    /* background-color: blue !important; */
    margin-top: 10px !important;
    padding: 10px;
  }


  .form-container{
    border-radius: 20px !important;
  }